/* Selectores Pagina de Inicio*/
/* General: todos los elementos dentro del html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
} 

body {
  font-family: 'Roboto';
  font-size: 15px;
  color: black;
  background-color: #ffffff;
  margin-top: 80px; /* Igual a la altura del header */
  justify-content: center;
  margin-right: 0px;
  margin-left: 0xp;
  padding: 0;
}

main {
  padding-bottom: 50px;
}
a {
  display: inline-block;
  text-decoration: none;
}

/* Etiquetas */
p {
  color: black;
}

header {
  padding: 20px 0;
  position: fixed;
  height: 60px; /* Altura fija del header */
  padding-bottom: 80px; 
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  max-width: 250px;
  height: auto;
  /* width: 60%; */
}

/* Estilos generales para los links del nav */
header .container nav a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin: 0 15px;
  align-content: center;
  position: relative; /* Necesario para el border-bottom */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Estilos para los links cuando se pasa el ratón por encima */
header .container nav a:hover {
  color: #b47f31;
  text-decoration: none;
  box-shadow: 0 3px 0 #b47f31; /* Cambia el color, el grosor y la posición del subrayado */
}

/* Estilos para el link activo */
header .container nav a.active {
  color: #b47f31;
  text-decoration: none;
  border-bottom: 3px solid #b47f31; /* Cambia el grosor y el color del subrayado */
  padding-bottom: 3px; /* Ajusta el espacio entre el texto y el subrayado */
  font-weight: bold;
}


/* Footer */

footer {
  width: 100%; /* Asegura que el footer ocupe todo el ancho disponible */
  background-color: white; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 20px 0; /* Espaciado interno del footer */
  padding-top: 40px;
  margin-top: auto;
}
/*
footer {
  background-color: white;
  color: white;
  padding-top: 40px;
  margin-top: auto;
}
*/
footer .barra-footer {
  background-color: #b47f31;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .logo-horizontal-footer {
  width: 100%;
}


footer .logo-ues-footer {
  display: block;
  margin-left: auto;               /* Empuja la imagen hacia la derecha */
  width: 20%;
}

.redes-sociales-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.redes-sociales-footer a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.redes-sociales-footer a:hover {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el mouse */
}

 
/* Clases */

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between; /* Distribuye las columnas con espacio entre ellas */
  align-items: center;            /* Centra verticalmente las columnas */
}

.columna {
  padding-left: 15px;
  padding-right: 15px;
}

.columna-50 {
  flex: 0 0 50%;                /* Asegura que las columnas ocupen el 50% del ancho del contenedor */
  display: flex;
  align-items: center;          /* Centra verticalmente el contenido de las columnas */
  padding-bottom: 40px;
}

/* Por id */



/* Por atributo */

/* Article */
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 420px;
  margin: auto;
}

img {
  max-width: 420px;
  max-height: 350px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}



/* Selectores Pagina de Quiénes somos */
.container-about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Estilos para la galería de imágenes */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.imagen {
  overflow: hidden;
  position: relative;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.imagen img:hover {
  transform: scale(1.05);
}

/* Estilos para la sección de historia */
.historia {
  margin-bottom: 30px;
}

/* Estilos para la misión y visión */
.mision-vision {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mision, .vision {
  flex: 1;
  background-color: #b47f31;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}
.slogan {
  font-style: italic;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .mision-vision {
    flex-direction: column;
  }
}

/* Selectores Pagina de Servicios */


/* Selectores Pagina de Nuestros clientes */


/* Selectores Pagina de Nuestro equipo */

.bodyteam {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9966, #ff5e62);
}
.containerteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.boxteam {
  width: 300px;
  height: 300px;
  background-color: #fffde7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.boxteam h2 {
  margin: 0;
  font-size: 24px;
  color: #663300;
  text-align: center;
}
.boxteam p {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.boxteam img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.titleteam {
  text-align: center;
  font-size: 30px;
  color: #000;
  padding: 20px;
}


/* Selectores Pagina de Contacto */
.Contact-contenido {
  background-color: #fff;
  padding: 30px;
  padding-left: 50px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
}
.titleContactUS, h3 {
  text-align: left;
  color: #333;
  padding: 20px;

}
/* Estilo para la tabla */
.imgTable:first-child {
  flex: 2;
  padding: 10xp;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 0;
}
.tableContactos {
  padding: 25xp;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 0;
  width: 100%; /* Opcional: para que la tabla ocupe todo el ancho */
  border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

/* Estilo para las celdas de encabezado (th) */
th {
  background-color: #fff; /* Color de fondo */
  border: 0px solid #ddd; /* Borde de 1 píxel sólido */
  padding: 5px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
}

/* Estilo para las celdas de datos (td) */
td {
  border: 0px solid #ddd; /* Borde de 1 píxel sólido */
  padding: 5px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
}
/* Estilos iniciales del icono */
.icon {
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease; /* Transición suave para la animación */
}

/* Definición de la animación con @keyframes */
.icon:hover {
  transform: scale(1.2); /* Escala el icono al hacer hover */
}

/*FORMULARIO*/

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.form-group { 
  background: #ffffff;
  background-position: center;
  padding: 40px;
  width: 1000px;
  border-radius: 10px;
  border-color: #b47f31;
  border-top: 8px;
}
.form-y-btn {
  flex: 1;
  min-width: 250px;
}

.imagenContact {
  border-color: white;
}
.form-group h2{
  color: #c0c0c0;
  font-size: 20px;
  margin-bottom: 10px;
  position: flex;
}

p{
  color: #242323c2;
  font-size: 17px;
  margin-bottom: 10x;
  position: flex;
  padding: 10px;
}
form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

label{
  font-size: 14px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

input, textarea{
  padding: 15px 10px;
  background-color: #f0f0f0;
  border: 0;
  font-size: 14px;
  color: #000000;
  margin-bottom: 15px;
  border-radius: 10px;
}

:focus{
  outline: 1px solid #b47f31;
}

.btnEnviar {
  background-color: #b47f31;
  width: 100px;
  align-self: flex-end;
  cursor: pointer;
  /*height: 40px;*/
}

.btnEnviar:hover{
  background-color: #da9b3c;
  font-style: normal;
}

.btnWA {
  background-color: #fffefd;
  width: 200px;
  align-self: flex-end;
  cursor: pointer;
  border: #b47f31;
  border: 1px solid #ccc; /* Agrega un borde gris */
  border-radius: 10px;
  height: 40px;
}

.btnWA:hover{
  background-color: #dba268;
  font-style: normal;
}
.WhatsApp {
  display: flex;
  justify-content: center;
}

.containerContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.imagenContact{
  display: flex;
  justify-content: center;
}

.half {
  width: 48%; /* Ajusta el tamaño de los contenedores */
}

@media (max-width: 991px) {
  body{
    padding: 10px;
  }
  .form-group{
    width: 100%;
  }
  form{
    width: 100%;
  }
  .imagenContact {
    display: none;
  }
  .containerContact {
    flex-direction: column; /* En pantallas pequeñas, cambia a una columna */
  }
  .half {
    width: 100%; /* En pantallas pequeñas, ocupa todo el ancho */
  }
}